<div class="row">
    <div class="px-5 py-3 t2 text-center">
        Editar cuenta de funcionario
    </div>
</div>

<div class="row justify-content-center mt-4">
    <div class="col col-sm-8">
        <div class="row d-flex justify-content-center">
            <form class="w-75" [formGroup]="myForm">        
                <div class="row form-row">
                    <div class="col-md-4">
                        <div class="c1 my-1">
                            Nombre
                        </div> 
                    </div>
                    <div class="col-md-8">
                        <input type="text" maxlength="50" class="form-control c1 " formControlName="name">
                    </div>
                </div>   
                <div class="row form-row">
                    <div class="col-md-4">
                        <div class="c1 my-1">
                            Apellidos
                        </div> 
                    </div>
                    <div class="col-md-8">
                        <input type="text" maxlength="50" class="form-control c1 " formControlName="lastname">
                    </div>
                </div>           
                <div class="row form-row">
                    <div class="col-md-4">
                        <div class="c1 my-1">
                            Correo electrónico
                        </div> 
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control c1 " formControlName="email">
                    </div>
                </div>      
                <div class="row form-row">
                    <div class="col-md-4">
                        <div class="c1 my-1">
                            Cédula
                        </div> 
                    </div>
                    <div class="col-md-8">
                        <input type="text" maxlength="9" class="form-control c1 " formControlName="cedula">
                    </div>
                </div>  
                <div class="row form-row">
                    <div class="col-md-4">
                        <div class="c1 my-1">
                            Tipo
                        </div> 
                    </div>
                    <div class="col-md-8">
                        <select class="form-select c1" id="exampleFormControlSelect1" formControlName="userType"  >
                            <option disabled selected value></option>
                            <option value="0">Super Administrador</option>
                            <option value="1">Servicio al cliente</option>
                        </select>
                    </div>
                </div>  
                <div class="text-center">
                    <button type="submit" value="submit" (click)="updateUser()" class="btn btn-normal sb my-3" [attr.disabled]="!myForm.valid? true: null">Guardar cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>