.consulta-facturacion{
    background-color: #FFFFFF;
    color: #026BBF;
    width: 100%;
    min-height: 100%;
    border-radius: 10px;
}

.section{
    background-color: #FFFFFF;
    color: #026BBF;
    
    min-height: 100px;
    border-radius: 10px;
}

.section:hover{
    cursor: pointer;
    background: #064A80;
    color: #FFFFFF;
}

form{
    color: #686F75;
}

input{
    border: 1px solid #CED3D8;
    box-sizing: border-box;
    border-radius: 10px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

select{
    border: 1px solid #CED3D8;
    box-sizing: border-box;
    border-radius: 10px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
