.t2{
    color: #026BBF;
}

.c1{
    color: #026BBF;
}

.user-li{
    background-color: white;
    color: #303336;
    min-height: 80px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.table-btn:hover{
    cursor: pointer;
    filter: brightness(70%);
}
.col-3{
    margin: 0px;
    padding: 0px;
}
