<ion-content *ngIf="payments">
  <div class="row">
    <div class="px-5 py-3 mt-3 t2 text-center">
        Historial de pagos
    </div>
  </div>

  <div class="custom-table mx-md-5 me-3 mt-3">
      <div class="row my-3 user-li align-items-center" *ngFor="let payment of payments">
          <div class="col-3 text-center">
            <div class="t2">{{payment.pagoDate | date:'d'}}</div>
            <div class="c1">{{payment.pagoDate | date:'MM/yyyy'}}</div>
          </div>
          <div class="col-3">
              <div class="c3">Facturación</div>
              <div class="c3">Agencia</div>
              <div class="c3">Recaudador</div>
          </div>
          <div class="col-3">
              <div class="c3">{{payment.facturacionDate | date:'d/MM/yyyy'}}</div>
              <div class="c3">{{payment.agencia}}</div>
              <div class="c3">{{payment.recaudador}}</div>
          </div>
          <div class="col-3">
              <div class="c1">{{payment.total | currency:'₡'}}</div>
          </div>
      </div>
  </div>

</ion-content>
