<div class="row">
    <div class="px-5 py-3 t2 text-center">
        Trámites y solicitudes
    </div>
</div>

<div class="custom-table px-3 ms-3 ms-sm-0  mt-3">
    <div class="row px-3 py-1 user-li user-li align-items-center">
        <div class="col-2">
            <div class="t2">Trámite</div>
        </div>
        <div class="col-2">
            <div class="t2">NIS</div>
        </div>
        <div class="col-3">
            <div class="t2">Nombre</div>
        </div>
        <div class="col-2">
            <div class="t2">Estado</div>
        </div>
        <div class="col-2">
            <div class="t2">Fecha</div>
        </div>
    </div>
    <div class="row px-3 py-1 my-3  user-li align-items-center" *ngFor="let tramite of tramites">
        <div class="col-2">
            <div class="c1">{{tramite.type}}</div>
        </div>
        <div class="col-2">
            <div class="c1">{{tramite.nis}}</div>
        </div>
        <div class="col-3">
            <div class="c1">{{tramite.clientName}}</div>
        </div>
        <div class="col-2">
            <div class="c1">{{tramite.state}}</div>
        </div>
        <div class="col-2">
            <div class="c1">{{tramite.date | date:'dd/mm/yyyy'}}</div>
        </div>
        <div class="col-1 text-end">
            <div class="t2 text-center d-inline mx-1 table-btn">
                <i class="fa-solid fa-pen-to-square" (click)="goToEditTramite(tramite._id, tramite.type)"></i>
            </div>
        </div>
    
    </div>
</div>