<div class="row">
    <div class="px-5 py-3 t2 text-center">
        Trámites y solicitudes
    </div>
</div>
<div class="row p-3 container-fluid">
    <div class="col-md-6 col-lg-4 col-xl-3 d-flex justify-content-center text-center">
        <div class="option-card my-2">
                <div class='slideshow-wrapper'>
                <img class="card-img" src='../../../assets/img/arreglo-de-pago.svg'/>
                <div class="s2 title mx-3">Solicitud de arreglo de pago</div>
                <div class="c2 text-hover">
                    En los trámites para proyectos se pueden encontrar trámites de construcción.
                </div>
            </div>    
        </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xl-3 d-flex justify-content-center text-center">
        <div class="option-card my-2" [routerLink]="['/tramites-proyectos']">
                <div class='slideshow-wrapper'>
                <img class="card-img" src='../../../assets/img/tramites-proyectos.svg'/>
                <div class="s2 title mx-3">Trámites para proyectos</div>
                <div class="c2 text-hover">
                    En esta sección usted podrá ver los requisitos y enviar una solicitud de arreglo de pago si así lo requiere.
                </div>
            </div>    
        </div>
    </div>
</div>


<!-- 
<div class="col col-md-6 col-lg-3 text-center">
    <div class="option-card">
        <div class='slideshow-wrapper'>
            <img src='../../../assets/img/tramites-proyectos.svg'/>
            <div class="s2 title mx-3">Trámites para proyectos</div>
            <div class="c2 text-hover">
                En esta sección usted podrá ver los requisitos y enviar una solicitud de arreglo de pago si así lo requiere.
            </div>
        </div>        
    </div>
</div> -->
