<nav class="navbar navbar-expand-md py-0 my-0">
    <div class="container-fluid py-0 my-0 d-sm-flex d-md-block justify-content-center">
        <img class="img-responsive bg" src="../../../../assets/img/navbar-top.svg" alt="" > 
        <a class="navbar-brand" href="consultar-facturacion">
            <img class="img-responsive logo" src="../../../../assets/img/navbar-icon.svg" alt="" >      
        </a>
        <div class="t2 btn logout mt-3"><i class="fa-solid fa-right-from-bracket" ></i></div>
    </div>
</nav>

