.t2{
    color: #0284EB;
}



.container-fluid {
    padding-left: 0;
    position: relative;
    min-width: 100px;
    min-height: 125px;
}

.bg{
    display: none;
    top: 0;
    max-width: 100%;
}

.login-info{
    position: absolute;
    right: 1%;
    top: 10%;
}

.logout:hover{
    color: #026BBF;
}

.user{
    position: absolute;
    right: 10px;
}



@media only screen and (max-width:768px){
    .logo{
        margin-top: 50px;
    }
}

@media only screen and (min-width:768px){
    .logo {
        position: absolute;
        left: 170px;
        top: 45px;
    }
}

@media only screen and (min-width:900px){
    .bg{
        position: absolute;
        display: block;

    }
}



