

<div class="sidebar d-md-block" >
    <img src="../../../../assets/img/sidebar.svg" class="sb" alt="">
    <button class="btn btn-toggle ms-2 mt-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
        <i class="fa-solid fa-bars"></i>
    </button>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" data-bs-keyboard="false" data-bs-backdrop="false">
    <div class="offcanvas-header">
        <h6 class="offcanvas-title" id="offcanvas"></h6>

        <button class="btn text-white" data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
    <div class="offcanvas-body px-0">
        <div class="list-group">
            <a href="#" class="list-group-item s1">Consulta de facturación</a>
            <div class="list-group">
              <a href="#" class="list-group-item c1">Consultar facturación</a>
              <a href="#" class="list-group-item c1">Historial de pagos</a>
            </div>
          
            <hr>
            <a href="#" class="list-group-item s1">Reporte de averías</a>
            <div class="list-group">
              <a href="#" class="list-group-item c1">Fuga en acera</a>
              <a href="#" class="list-group-item c1">Fuga en calle</a>
              <a href="#" class="list-group-item c1">Fuga en hidrante</a>
              <a href="#" class="list-group-item c1">Fuga en medidor</a>
              <a href="#" class="list-group-item c1">Fuga en alcantarilla</a>
              <a href="#" class="list-group-item c1">Fuga en cordón de caño</a>
            </div>
          
            <hr>
            <a href="#" class="list-group-item s1">Trámites y solicitudes</a>
          
            <hr>
            <a href="#" class="list-group-item s1">Sucursal más cercana</a>
            <div class="list-group">
              <a href="#" class="list-group-item c1">Puntos de pago</a>
              <a href="#" class="list-group-item c1">Puntos de atención</a>
            </div>
          
            <hr>
            <a href="#" class="list-group-item s1">Próximas supensiones de servicio</a>
            
            <hr>
            <a href="#" class="list-group-item s1">Funcionarios</a>
          </div>

    </div>
</div>

