<div class="row text-center">
    <div class="px-5 py-3 t2 ">
        Reporte de averías
    </div>
    <div class="px-5 py-3 c1">
        Seleccione la avería que desea reportar
    </div>
</div>
<div class="row justify-content-center my-4">
    <div class="col-10 col-lg-6 col-xl-5">
        <div class="row">
            <div class="col-6 col-sm-4 col-md-4">
                <div class="averia-card mx-auto" (click)="goToReportarAveria('Fuga en acera')">
                    <div class="c2 text-center py-3">
                        Fuga en acera
                    </div>
                    <div class="text-center">
                        <img src="../../../assets/img/Fuga en acera.svg" class="averia-img" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-4">
                <div class="averia-card mx-auto" (click)="goToReportarAveria('Fuga en calle')">
                    <div class="c2 text-center py-3">
                        Fuga en calle
                    </div>
                    <div class="text-center">
                        <img src="../../../assets/img/Fuga en calle.svg" class="averia-img" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-4">
                <div class="averia-card mx-auto" (click)="goToReportarAveria('Fuga en alcantarilla')">
                    <div class="c2 text-center py-3">
                        Fuga en alcantarilla
                    </div>
                    <div class="text-center">
                        <img src="../../../assets/img/Fuga en alcantarilla.svg" class="averia-img" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-4">
                <div class="averia-card mx-auto" (click)="goToReportarAveria('Fuga en cordón de calle')">
                    <div class="c2 text-center py-2">
                        Fuga en cordón de calle
                    </div>
                    <div class="text-center">
                        <img src="../../../assets/img/Fuga en cordón de calle.svg" class="averia-img" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-4">
                <div class="averia-card mx-auto" (click)="goToReportarAveria('Fuga en hidrante')">
                    <div class="c2 text-center py-3">
                        Fuga en hidrante
                    </div>
                    <div class="text-center">
                        <img src="../../../assets/img/Fuga en hidrante.svg" class="averia-img" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-4">
                <div class="averia-card mx-auto" (click)="goToReportarAveria('Fuga en medidor')">
                    <div class="c2 text-center py-3">
                        Fuga en medidor
                    </div>
                    <div class="text-center">
                        <img src="../../../assets/img/Fuga en medidor.svg" class="averia-img" alt="...">
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</div>