.t2{
    color: #026BBF;
}

.s2{
    color: #5B5B5B;
}

.c2{
    color: #5B5B5B;
}

.tramite-card{
    border: 1px solid #C4C4C4;
    border-color: #C4C4C4;
    border-radius: 20px;
}

ul{
    min-height: 150px;
}
