<div class="row">
    <div class="px-5 py-3 t2 text-center">
        Trámites para proyectos
    </div>
</div>
<div class="row">
    <div class="px-5 py-3 c2 text-center">
        Al dar click en “ir” se redireccionará a los sitios web oficiales de instituciones que vinculan trámites con el AYA
    </div>
</div>
<div class="row p-3 container-fluid">
    
    <div class="col-xl-4 px-3 d-flex mb-3 justify-content-center">
        <div class="row justify-content-center">
            <div class="tramite-card px-3 w-75">
                <div class="text-center">
                    
                    <img src="../../../../assets/img/tramites-construccion.svg" class="img-fluid my-3" alt="..." style="height: 70px; width: 250;">
                    
                    <div class="s2 mb-3">
                        Trámites con MEIC
                    </div>
                
                </div>
                
                <ul class="mb-3">
                    <li>Revisión de planos constructivos</li>
                    <li>Descarga de formularios, requisitos y lista de revisión</li>
                    <li>Contacto para el proceso de recepción de obras</li>
                </ul>
                
                <div class="text-center">
                    <a href="https://www.tramitesconstruccion.go.cr/" target="_blank" class="btn btn-normal sb mb-3" role="button" aria-pressed="true" >IR</a>
                </div>
    
            </div>
        </div>
    </div>
    
    <div class="col-xl-4 px-3 d-flex mb-3 justify-content-center">
        <div class="row justify-content-center">
            <div class="tramite-card px-3 w-75">
                <div class="text-center">
                    
                    <img src="../../../../assets/img/tramites-meic.svg" class="img-fluid my-3" alt="..." style="height: 70px;">
                    
                    <div class="s2 mb-3">
                        Trámites para construcción
                    </div>
                
                </div>
                
                <ul class="mb-3">
                    <li>Gestión de fiscalización técnica</li>
                    <li>Reglamento de la Ley de Protección del Ciudadano</li>
                </ul>
                
                <div class="text-center">
                    <a href="https://tramitescr.meic.go.cr/" target="_blank" class="btn btn-normal sb mb-3" role="button" aria-pressed="true" >IR</a>
                </div>
    
            </div>
        </div>
    </div>
    
    <div class="col-xl-4 px-3 d-flex mb-3 justify-content-center">
        <div class="row justify-content-center">
            <div class="tramite-card px-3 w-75">
                <div class="text-center">
                    
                    <img src="../../../../assets/img/tramites-apc.svg" class="img-fluid my-3" alt="..." style="height: 70px;">
                    
                    <div class="s2 mb-3">
                        Trámites con APC
                    </div>
                
                </div>
                
                <ul class="mb-3">
                    <li>Dirección y manejo de proyectos de urbanización</li>
                    <li>Revisión de desarrollos inmobiliarios</li>
                </ul>
                
                <div class="text-center">
                    <a href="https://infoapc.cfia.or.cr/" target="_blank" class="btn btn-normal sb mb-3" role="button" aria-pressed="true" >IR</a>
                </div>
    
            </div>
        </div>
    </div>

</div>
