<div class="row">
    <div class="px-5 py-3 t2 title text-center">
        Gestionar
    </div>
</div>
<div class="row p-3 justify-content-center text-center">
    <div class="col-lg-4 px-4 my-3 my-lg-0">
        <div class="row mb-3" *ngIf="userType == 0">
            <button class="btn section" (click)="goToListUsers()">
                <div class="t2">
                    Funcionarios 
                </div>
            </button>
        </div>
       
        <div class="row my-3">
            <button class="btn section" (click)="goToTramitesSolicitudes()">
                <div class="t2">
                    Trámites y solicitudes
                </div>
            </button>
        </div>

        <div class="row my-3">
            <button class="btn section">
                <div class="t2">
                    Sucursales disponibles 
                </div>
            </button>
        </div>

        <div class="row mt-3">
            <button class="btn section" (click)="goToSuspensiones()">
                <div class="t2">
                    Suspensiones del servicio
                </div>
            </button>
        </div>
        
    </div>
</div>

