<div class="row">
    <div class="px-5 py-3 t2 text-center">
        Reportes de averías
    </div>
</div>

<div class="custom-table px-3 ms-3 ms-sm-0  mt-3">
    <div class="row px-3 py-1 user-li user-li align-items-center">
        <div class="col-2">
            <div class="t2">Tipo de fuga</div>
        </div>
        <div class="col-2">
            <div class="t2">Provincia</div>
        </div>
        <div class="col-2">
            <div class="t2">Cantón</div>
        </div>
        <div class="col-2">
            <div class="t2">Distrito</div>
        </div>
        <div class="col-2">
            <div class="t2">Estado</div>
        </div>
        <div class="col-1">
            <div class="t2">Fecha</div>
        </div>
    </div>
    <div class="row px-3 py-1 my-3  user-li align-items-center" *ngFor="let report of reports">
        <div class="col-2">
            <div class="c1">{{report.type}}</div>
        </div>
        <div class="col-2">
            <div class="c1">{{report.provincia}}</div>
        </div>
        <div class="col-2">
            <div class="c1">{{report.canton}}</div>
        </div>
        <div class="col-2">
            <div class="c1">{{report.distrito}}</div>
        </div>
        <div class="col-2">
            <div class="c1">{{getReportState(report.state)}}</div>
        </div>
        <div class="col-1">
            <div class="c1">{{report.creationDate | date:'d/MM/yyyy'}}</div>
        </div>
        <div class="col-1 text-end">
            <div class="t2 text-center d-inline mx-1 table-btn">
                <i class="fa-solid fa-pen-to-square" (click)="goToEditReport(report._id)"></i>
            </div>
        </div>    
    </div>
</div>




